
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(0, 174, 255);
}

.container-cabeçalho {
       display: flex;
       padding: 3px;
       background-color: rgb(92, 200, 250);
}

.logo {
    
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.title {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
}

.title-1 {
       font-size: 36px;
      font-weight: bold;
}

.title-2 {
      display: flex;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
}

.navegação >nav > a {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    
    color: rgb(65, 64, 64);
    text-decoration:none;
}
