
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgba(0, 238, 255, 0.199);
}

.container-cabeçalho {
       max-width: 100%;
       display: flex;
       height: 100px;
       
       border-radius: 10px;
       background-color: rgba(0, 238, 255, 0.185);
}

.logo {
    
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.title {
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-left: 30px;
    justify-content: center;
}

.title-1 {
       font-size: 36px;
      font-weight: bold;
}

.title-2 {
      display: flex;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
}

.navegação, nav, a {
     display: flex;
     flex-direction: row;
     align-items: center; 
     font-size: 22px;
     font-weight: bold;
     margin-left: 40px;
     padding: 10px;
    color: rgb(65, 64, 64);
    text-decoration:none;
     background-color: 0.4s ease;
    color: 0.4s ease;
    transform: 0.3s ease;
}
.navegação, nav, a:hover {
      transform: translateY(-3px);
}

#container-contet {
    display: flex;
    margin-left: 80px;
    margin-right: 20px;
}

.text h1 {
     font-size: 48px;
     padding: 100px 0  100px 0;
}

.text p {
     font-size: 22px;
     
}

.buttom {
    display: flex;
    justify-content: center;
    margin:0 50px 0 50px;
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 30px;
    color: black;
     background-color: aqua;
}

.imagem-1 img {
  border-radius: 20px;
   margin:20px 0px 10px 150px;
  width: 300px;
}

.imagem-2 img {
    
    border-radius: 20px;
    width: 350px;
    margin:10px ;
}

.imagem-3 img {
    border-radius: 10px;
    margin: 20px 0 10px 50px;
    width: 400px;
}

.text-1{
     display: flex;
     flex-direction: column;
     align-items: center;
     
}

.text-1 h2 {
     font-size: 36px;
     color: rgb(75, 74, 74);
     margin-bottom:0;
}

.text-1 h3{
      font-size: 23px;
      color: rgb(75, 74, 74);
}

.block-serv {

}

.icon-serv img {
    width:50px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid black;
    
}

